:root {
    
/* Colors variables */

    --clr-bg-dark:
    --clr-bg-light:
    --clr-primary:
    --clr-secondary:
    --clr-text:
    --clr-accent:

/* Fonts variables */

    // Fonts family
    --ff-default: 
    --ff-heading: 

    // Fonts size
    --fs-default:
    --fs-p:
    --fs-h1:
    --fs-h2:
    --fs-h3:
    --fs-h3:

    // Fluid fonts size
    --fluid-fs-min:
    --fluid-fs-max:
    --fluid-fs-target:
}