.root {
/* Colors custom properties */

    --clr-bg:
    --clr-primary:
    --clr-secondary:
    --clr-text: 
    --clr-accent:

/* Fonts customs properties */

    // Fonts family
    --ff-default: 
    --ff-heading: 

    // Fonts size
    --fs-default: 1.6rem;
    --fs-p: 1.8rem;
    --fs-h1: 
    --fs-h2:
    --fs-h3:
    --fs-h4:

    // Fluid fonts size
    --fluid-fs-min: 
    --fluid-fs-max:
    --fluid-fs-ideal:
}