// Utilities classes for margins using logical property

.mbs { 
    margin-block-start: var(--margin-block-start);
}

.mbe { 
    margin-block-end: var(--margin-block-end);
}

.mb {
    margin-block: var(--margin-block);
}

.mis { 
    margin-inline-start: var(--margin-inline-start);
}

.mie { 
    margin-inline-end: var(--margin-inline-end);
}

.mi {
    margin-inline: var(--margin-inline);
}

